In [1]:
import pandas as pd

In [5]:
df = pd.read_csv('../datasets/generated/ni/Ni.csv')
df.head()

,x1,y1,z1,x2,y2,z2,x3,y3,z3,x4,...,y5,z5,m1,m2,m3,m4,m5,fermi,band,toten
0,0.0,0.0,0.0,0.0,1.765,1.765,0.0,0.0,3.53,0.0,...,0.0,6.98746,0.688,0.583,0.583,0.577,0.677,-0.055695,-106.620542,-25.570707